body {
    font-family: "Source Sans Pro", "Arial", sans-serif;
    font-size: 1.2em;
    line-height: 1.2;
    color: darkslategray;
}

.main-container {
  margin: auto;
  width: 75vw;
}

.flex-grid {
    display: flex;
    padding-bottom: .75vh;
    margin: 1px 2px;
    padding: 2px;
}

.header {
    font-size: 1.4em;
}

.border-bottom {
    border-bottom: 1px solid;
    border-bottom-color: black;
}
.border-bottom-bold {
  border-bottom: 2px solid;
  border-bottom-color: black;
  margin-bottom: 10px;
}


.border-top {
    border-top: 1px solid;
    border-top-color: black;
}

.border-top-bold {
    border-top: 2px solid;
    border-top-color: black;
}

.col {
  flex: 1;
  margin: 1px 2px;
  padding: 2px;
}

.great {
  color: blue;

}

.good {
  color: green;
}

.danger {
  color: orangered;
}

.grid {
  vertical-align: top;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
  position: relative;
  min-height: 185px;
}
.loader {
  /* change color here */
  color: #1c4c5b
}
.loader,
.loader:after {
  box-sizing: border-box;
}
.loader {
  display: inline-block;
    width: 40px;
    height: 40px;
    margin: auto;
    /* border: solid black; */
    position: absolute;
    top: -87px;
    bottom: 0;
    left: 0;
    right: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6.4px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-dual-ring 1.2s linear infinite;
  
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
    
  }
}
.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
}
.flex-grid-thirds .col {
  width: 32%;
}

.pagination {
  padding-top: 3vh;
  display: flex;
  justify-content: center;
}

.pagination-count {
  line-height: 3vh;
  padding: 0px 10px;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position:relative;
}

.arrow:hover {
  cursor: pointer;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  bottom: 5px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}